extends layout 

block content

  h1= title

  #search

  form(id="search_form", method="post", action="/")
      input(id="search_string", name="search_string", type="text", placeholder="iDigBio Search ( Scientific Name )  ...")

  #results
      h3 Search Results

      #json
          p JSON-LD Blob data
          div(style="text-align: left"): pre: #{json}
