doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
     
  body
    block content
